<div class="inmodal">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Editar Empleado</h4>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="status-buttons" class="text-center">
            <a href="" ng-click="selected = 'natural'"><span>1</span> Persona Natural</a>
            <a href="" ng-click="selected = 'juridica'"><span>2</span> Persona Juridica</a>
        </div>        
      </div>
    </div>
  	<div class="modal-body">
    	<div>
          <div class="row">
            <!-- form.html -->
            <div class="col-lg-12">
                <div id="form-container" style="background:none;!important">
                    <form name="clienteEditNaturalForm">
                      <div ng-show="selected == 'natural'" ng-cloak style="margin-top:10px;">
                          <div class="row">
                              <div class="col-lg-12">
                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                      <label>Nombres:</label>
                                      <input type="text" required name="firstname" ng-model="formEditPersonaNatural.name"  class="form-control input-sm" placeholder="Nombres">
                                    </div>                                  
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                      <label>Apellidos</label>
                                      <input type="text" required name="lastname" ng-model="formEditPersonaNatural.last_name"  class="form-control input-sm" placeholder="Apellidos">
                                    </div>                                  
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                      <label>Documento:</label>
                                       <selectize config="{create:true, maxItems:1, valueField: 'value', labelField: 'text', placeholder:'Tipo de documento'}" options='[{value:"CC", text:"Cedula de Ciudadania"}, {value:"CE", text:"Cedula de Extranjeria"},  {value:"DI", text:"Documento de Identidad"}]' ng-model="formEditPersonaNatural.data.documento"></selectize>
                                    </div>                                  
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                      <label>Numero de Documento:</label>
                                      <input type="text" required name="numero_documento" ng-model="formEditPersonaNatural.data.numero_documento"  class="form-control input-sm" placeholder="Numero de Documento">
                                    </div>                                  
                                </div>
                              </div>
                                  <div class="form-group">
                                    <label>Correo:</label>
                                    <input type="email" required name="email" ng-model="formEditPersonaNatural.email"  class="form-control input-sm" placeholder="Correo electronico">
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <label>Celular:</label>
                                        <input type="text" class="form-control input-sm" placeholder="Celular" international-phone-number ng-model="formEditPersonaNatural.data.phone">
                                      </div>                                      
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <label>Fijo:</label>
                                        <input type="text" required name="fijo" ng-model="formEditPersonaNatural.data.fijo"  class="form-control input-sm" placeholder="Telefono fijo">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                          <label>Departamento:</label>
                                          <departamento-field required ng-model="formEditPersonaNatural.data.departamento"></departamento-field>
                                      </div>                                      
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                          <label>Ciudad:</label>
                                          <ciudad-field required ng-model="formEditPersonaNatural.data.ciudad"></ciudad-field>
                                      </div>                                      
                                    </div>
                                      <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Barrio:</label>
                                            <input type="text" required name="Barrio" ng-model="formEditPersonaNatural.data.barrio"  class="form-control input-sm" placeholder="Barrio">
                                        </div>                                      
                                      </div>
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                          <label>Dirección:</label>
                                         <input type="text" required name="Direcion" ng-model="formEditPersonaNatural.data.direccion"  class="form-control input-sm" placeholder="Direccion">
                                      </div>                                      
                                    </div>
                                  </div>
                              </div>        
                          </div>
                      </div>
                      </form>
                      <form name="clienteEditJuridicoForm">
                        <div ng-show="selected == 'juridica'" ng-cloak style="margin-top:10px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                      <label>NIT:</label>
                                      <input type="text" required name="nit" ng-model="formEditPersonaJuridica.data.nit"  class="form-control input-sm" placeholder="Nit">
                                    </div>
                                    <div class="form-group">
                                      <label>Razon Social:</label>
                                      <input type="text" required name="razon" ng-model="formEditPersonaJuridica.data.razon_social"  class="form-control input-sm" placeholder="Razon Social">
                                    </div>
                                    <div class="form-group">
                                      <label>Representante Legal:</label>
                                      <input type="text" required name="representante" ng-model="formEditPersonaJuridica.data.representante_legal"  class="form-control input-sm" placeholder="Representante Legal">
                                    </div>
                                    <div class="form-group">
                                      <label>Correo:</label>
                                      <input type="email" required name="email" ng-model="formEditPersonaJuridica.email"  class="form-control input-sm" placeholder="Correo electronico">
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-4">
                                        <div class="form-group">
                                          <label>Celular:</label>
                                          <input type="text" placeholder="Numero de celular" class="form-control input-sm" international-phone-number ng-model="formEditPersonaJuridica.data.phone">
                                        </div>
                                      </div>
                                      <div class="col-lg-4">
                                        <div class="form-group">
                                          <label>Fijo:</label>
                                          <input type="text" required name="fijo" ng-model="formEditPersonaJuridica.data.fijo"  class="form-control input-sm" placeholder="Telefono fijo">
                                        </div>
                                      </div>
                                      <div class="col-lg-4">
                                        <div class="form-group">
                                          <label>Fax:</label>
                                          <input type="text" required name="fax" ng-model="formEditPersonaJuridica.data.fax"  class="form-control input-sm" placeholder="Fax">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Departamento:</label>
                                            <departamento-field required ng-model="formEditPersonaJuridica.data.departamento"></departamento-field>
                                        </div>                                      
                                      </div>
                                      <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Ciudad:</label>
                                            <ciudad-field required ng-model="formEditPersonaJuridica.data.ciudad"></ciudad-field>
                                        </div>                                      
                                      </div>
                                      <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Barrio:</label>
                                            <input type="text" required name="Barrio" ng-model="formEditPersonaJuridica.data.barrio"  class="form-control input-sm" placeholder="Barrio">
                                        </div>                                      
                                      </div>
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                          <label>Dirección:</label>
                                         <input type="text" required name="Direcion" ng-model="formEditPersonaJuridica.data.direccion"  class="form-control input-sm" placeholder="Direccion">
                                      </div>                                      
                                    </div>
                                    </div>
                                </div>        
                            </div>
                        </div>                        
                      </form>
                </div>
            </div>    
          </div>
    	</div>
  	</div>
    <div class="modal-footer custom-modal-footer" style="padding:0px;">
        <button type="button" style="height:40px;"  class="custom-btn btn-block custom-btn-primary" ng-click="ok()">Aceptar</button>
    </div>
</div>
