<div ng-init="load()">
  <div class="content" ng-show="!records || records.length == 0">
    <div class="table_wrap table_height">
      <div class="row table-responsive table_inner">
          <div class="controls" ng-show="records.length == 0 && Records">
            <h4 >No hay registros para mostrar</h4>
          </div>
          <p class="text-center" ng-show="!Records">
           <img style="width:50px;" src="images/loading.svg">
          </p>
      </div>
    </div>  
  </div>
  <div class="col-lg-12 content" ng-show="records.length > 0">
          <div class="hpanel">
              <div class="panel-body">
            <div class="row">
              <div class="col-lg-2">
                  <div class="form-group">
                    <label for="name" >Bodega:</label>
                    <bodega-field empty-option="true" placeholder="Bodega" required ng-model="filter._grocery" key="name" label="name"><bodega-field>
                  </div>
              </div>
            <div class="col-lg-3">
                <div class="form-group">
                  <label for="name" >Responsable:</label>
                  <employee-field empty-option="true" placeholder="Responsable"  ng-model="filter._responsible" key="_id" label="name"><employee-field>
                </div>
            </div>
              <div class="col-lg-2">
                <div class="form-group">
                    <label>Departamento :</label>
                    <departamento-field empty-option="true" required ng-model="filter.departamento"></departamento-field>
                </div> 
              </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label>Ciudad :</label>
                    <ciudad-field required empty-option="true" ng-model="filter.ciudad"></ciudad-field>
                </div>
            </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label>Buscar</label>
                    <input type="text" ng-model="search" class="form-control input-sm m-b-md" id="filter" placeholder="Buscar en la tabla">
                </div>
              </div>
            </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Bodega</th>
                            <th>Responsable</th>
                            <th>Departamento</th>
                            <th>Ciudad</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th>Celular</th>
                            <th style="width: 36px;"></th>
                            <th style="width: 36px;"></th>
                            <th style="width: 36px;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  
                            dir-paginate="record in records 
                            |filter:search 
                            |filter:{data : { departamento : filter.departamento } } 
                            |filter:{data : {ciudad : filter.ciudad} } 
                            |filter:{data : {bodega : filter._grocery} } 
                            |filter:{_responsible : {_id : filter._responsible}} 
                            |itemsPerPage: 5 " 
                            pagination-id="bodegaEntity">
                            <td>{{record.data.bodega}}</td>
                            <td>{{record._responsible.full_name}}</td>
                            <td>{{record.data.departamento}}</td>
                            <td>{{record.data.ciudad.toLowerCase()}}</td>
                            <td>{{record.data.direccion}}</td>
                            <td>{{record.data.telefono  || 'no definido'}}</td>
                            <td>{{record.data.celular  || 'no definido'}}</td>
                          <td><button ng-click="edit()" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</button></td>
                            <td><button ng-click="delete()" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i>&nbsp;Borrar</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-12">
                      <dir-pagination-controls class="pull-right" pagination-id="bodegaEntity"></dir-pagination-controls>
                    </div>
              </div>
              <div class="panel-footer">
                  Listado de Bodegas
              </div>
          </div>
      </div>
</div>
