<div class="inmodal">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Elija Icono</h4>
    </div>
  	<div class="modal-body modal-body-pattern">
    	<div class="row">
        <div class="col-lg-12">
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-bacon-and-eggs' === selected}" class="fi flaticon-bacon-and-eggs icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-breakfast' === selected}" class="fi flaticon-breakfast icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-burger-and-potatoes' === selected}" class="fi flaticon-burger-and-potatoes icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-cheese' === selected}" class="fi flaticon-cheese icon-set" style="padding:2px!important;"></i>
          </div>

          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-chef' === selected}" class="fi flaticon-chef icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-chef-hat' === selected}" class="fi flaticon-chef-hat icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-cherries' === selected}" class="fi flaticon-cherries icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-cocktail' === selected}" class="fi flaticon-cocktail icon-set" style="padding:2px!important;"></i>
          </div>

          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-coffe-cup' === selected}" class="fi flaticon-coffe-cup icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-cooking' === selected}" class="fi flaticon-cooking icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i class="fi flaticon-croisant icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-cupcake' === selected}" class="fi flaticon-cupcake icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-dish' === selected}" class="fi flaticon-dish icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-gingerbreadman' === selected}" class="fi flaticon-gingerbreadman icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-ice-cream' === selected}" class="fi flaticon-ice-cream icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-ice-cream-1' === selected}" class="fi flaticon-ice-cream-1 icon-set" style="padding:2px!important;"></i>
          </div>

          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-kitchen' === selected}" class="fi flaticon-kitchen icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-knife' === selected}" class="fi flaticon-knife icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-meat' === selected}" class="fi flaticon-meat icon-set" style="padding:2px!important;"></i>
          </div>
          <div class="col-lg-3 ">
            <i ng-click="setIcon($event)" ng-class="{selected: 'flaticon-meat-1' === selected}" class="fi flaticon-meat-1 icon-set" style="padding:2px!important;"></i>
          </div>
        </div>
    	</div>
  	</div>
    <div class="modal-footer custom-modal-footer">
        <button type="button" class="custom-btn custom-btn-default" ng-click="cancel()">Cancelar</button>
     </div>
</div>
