<div ng-controller="CategorydetailCtrl" ng-init="load()">
	<div class="row">
		<h3>Detalle de la categoria</h3>
		<div class="panel panel-default" style="padding:0px!important;">
		  <div class="panel-body">
			<div class="col-lg-4">
				<div class="form-group">
					<label for="email">Categoria:</label>
					<p>{{record.text}}</p>
				</div>
				<div class="form-group">
					<label for="email">Descripcion:</label>
					<p>{{record.data.metadata.descripcion}}</p>
				</div>
				<div class="form-group">
					<label for="email">Fecha de Creación:</label>
					<p>{{record.createdAt | date:'yyyy-mm-dd hh:mm:ss a'}}</p>
				</div>
			</div>
		  </div>
		  <div class="panel-footer">Ultima actualizacion {{record.updatedAt | date:'yyyy-mm-dd hh:mm:ss a'}}</div>

		  </div>
	</div>
</div>
