<div ng-init="load()">
  <div class="content" ng-show="!records || records.length == 0">
    <div class="table_wrap table_height">
      <div class="row table-responsive table_inner">
          <div class="controls" ng-show="records.length == 0 && Records">
            <h4 >No hay registros para mostrar</h4>
          </div>
          <p class="text-center" ng-show="!Records">
           <img style="width:50px;" src="images/loading.svg">
          </p>
      </div>
    </div>  
  </div>
  <div class="col-lg-12 content" ng-show="records.length > 0">
          <div class="hpanel">
              <div class="panel-body">
              <div class="form-group">
                <label>Buscar</label>
                  <input type="text" ng-model="search" class="form-control input-sm m-b-md" id="filter" placeholder="Buscar en la tabla">
                
              </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Nit</th>
                            <th>Empresa</th>
                            <th>Descripción</th>
                            <th>Departamento</th>
                            <th>Ciudad</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th>Sucursal de:</th>
                            <th style="width: 36px;"></th>
                            <th style="width: 36px;"></th>
                            <th style="width: 36px;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  dir-paginate="record in records |filter:search |itemsPerPage: 5 " pagination-id="empresaEntity">
                            <td>{{record.data.nit}}</td>
                            <td ng-show="$root.user._company._id == record._id">
                            <span class="label label-sp-custom" >
                            {{record.data.empresa }}
                            </span></td>
                            <td ng-show="$root.user._company._id != record._id">{{record.data.empresa }}</td>
                            <td>{{record.data.descripcion}}</td>
                            <td>{{record.data.departamento}}</td>
                            <td>{{record.data.ciudad.toLowerCase()}}</td>
                            <td>{{record.data.direccion + '%'}}</td>
                            <td>{{record.data.telefono  || 'no definido'}}</td>
                            <td>
                              <span class="label label-primary" ng-show="record._parent">
                              {{record._parent.data.empresa }}
                              </span>
                              <span class="label label-default" ng-show="!record._parent">
                              No es sucursal
                              </span>
                            </td>
                            <td><button ng-click="connectCompany()" type="button" class="btn btn-success btn-xs"><i class="fa fa-database"></i>&nbsp;Conectar</button></td>
                          <td><button ng-click="edit()" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Editar</button></td>
                            <td><button ng-click="delete()" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i>&nbsp;Borrar</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-12">
                      <dir-pagination-controls class="pull-right" pagination-id="empresaEntity"></dir-pagination-controls>
                    </div>
              </div>
              <div class="panel-footer">
                  Listado de Empresas
              </div>
          </div>
      </div>
</div>
