<div class="inmodal" ng-init="getNextId()">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Nueva Produccion</h4>
    </div>
  	<div class="modal-body">
    <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
              <label for="name" >Cantidad total a producir:</label>
              <input type="number"  required class="form-control input-sm" placeholder="Digite el total de productos de esta orden" name="lotes" ng-model="formProduction.data.cantidadTotal">
              <span class="form-input-message">{{'numero de productos que se procesara en la orden de producción'}}.</span>
         </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
              <label for="name" >Lote:</label>
              <input type="text"  required class="form-control input-sm" placeholder="Lote de producción" name="lotes" ng-model="formProduction.data.lote.idcomposed">
              <span class="form-input-message">{{formProduction.data.lote.data.observacion || 'Observación no definida'}}.</span>
         </div>
        </div> 
        <div class="col-lg-4">
          <div class="form-group"> 
               <label>Fecha de Registro</label>
               <h4 style="margin-top: 5px;">{{ productionDate | date:"yyyy-MM-dd"}}</h4>
          </div>       
        </div>
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Cliente</th>
                    <th>Referencia</th>
                    <th>Materiales</th>
                    <th>Color</th>
                    <th>Cantidades</th>
                    <th>Marca</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                <tr dir-paginate="record in formProduction.data.lote.data.request | 
                    filter:search | 
                    itemsPerPage: 5 " 
                  pagination-id="productionRequestEntity">
                  <td style="width:200px;">
                    <div class="form-group">
                      <cliente-field empty-option="true" placeholder="Vendedor"  ng-model="record._client._id" key="_id" label="full_name"><cliente-field>
                    </div>
                  </td>
                  <td style="width:200px;">
                   <producto-field 
                      key="_id"
                      id="product_field" 
                      label="producto"
                      on-enter="isEmpty()"
                      set-focus="focuset"
                      search-by="['idcomposed', 'refMixed', 'producto']"
                      placeholder="Referencia"
                      set-object="_productObj"
                      ng-model="record._id">
                    <producto-field> 
                  </td>
                  <td>
                    <button style="padding:5px;" ng-click="MostrarMateriales()" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Materiales</button>
                  </td>
                  <td>{{record.data.colorRequest.descripcion || 'no definido'}}</td>
                  <td>
                      <button style="padding:5px;" ng-click="MostrarTallasCantidades(true)" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Cantidades</button>
                  </td>
                  <td>SARAY</td>
                  <td>10</td>
                  <td></td>
                </tr>
                </tbody>
              </table>
        </div>

        <div class="col-lg-12">
          <dir-pagination-controls class="pull-right" pagination-id="productionRequestEntity"></dir-pagination-controls>
        </div>
    </div>
  	</div>
    <div class="modal-footer custom-modal-footer" style="padding:0px;">
        <button type="button" style="height:40px;" class="custom-btn btn-block custom-btn-primary" ng-click="ok()">Crear</button>
    </div>
</div>
