<div ng-init="load()">
  <div class="content" ng-show="!records || records.length == 0">
    <div class="table_wrap table_height">
      <div class="row table-responsive table_inner">
          <div class="controls" ng-show="records.length == 0 && Records">
            <h4 >No hay registros para mostrar</h4>
          </div>
          <p class="text-center" ng-show="!Records">
           <img style="width:50px;" src="images/loading.svg">
          </p>
      </div>
    </div>  
  </div>
	<div class="row" ng-show="records.length > 0">
    <ul class="sp-list"> 
      <li  ng-click="$root.grid.value = record;" choice="$root.grid.selected" value="record._id" class="sp-list-item sp-choice" dir-paginate="record in records |filter:search |itemsPerPage: 5 ">
        <div class="sp-item-image">
          <img preload-image default-image="images/loading.svg" fallback-image="images/missing-company.png" ng-src="/images/sp-android-app.png">
        </div>
        <span class="sp-meta-right">Creado : {{record.createdAt | date:'yyyy-MM-dd'}}</span>
        <a class="trash" ng-click="delete()" href=""><i class="glyphicon glyphicon-trash"></i></a>
        <a class="trash" style="right:35px!important;" ng-href="{{record.data.url}}"><i class="glyphicon glyphicon glyphicon-save"></i></a>
        <h4>{{record.data.name}}</h4>
        <a href="{{record.data.url}}">{{record.data.url}}</a>
 		    <p>Versión:&nbsp;{{record.data.version}}&nbsp;&nbsp;</p>
        <span style="position: absolute;top: 4px;right: 117px;" class="label label-success" ng-show="record.data.isPublic">Aplicación Publica</span>
        <div class="row">
          <div class="sp-footer">
          </div>
        </div>
      </li>
    </ul>
	</div>
</div>
