<div class="inmodal">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Editar Consecutivo</h4>
    </div>
  	<div class="modal-body">
    	<div>
  	  	<form name="formEditContador" novalidate>
          <div class="row">
              <div class="col-lg-4">
                  <div class="form-group">
                    <label>Entidad:</label>
                    <entidad-field ng-model="$parent.formEdit.entity" set-object="$parent._Editentity"><entidad-field>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="form-group">
                    <label>Nombre del campo:</label>
                     <input type="text" name="campo" placeholder="ej: codigo interno" ng-model="$parent.formEdit.field" class="form-control">
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                    <label>Contador Inicial:</label>
                    <input type="number" min="0"  name="inicial" placeholder="C. Inicial" ng-model="$parent.formEdit.seq" class="form-control">
                </div>
              </div>
              <div class="col-lg-12" ng-show="$parent.formEdit.entity == '_product'">
                <div class="form-group">
                    <label>Prefijo:</label>
                    <input type="text" name="prefix" placeholder="Prefijo" ng-model="$parent.formEdit.prefix" class="form-control">
                </div>
              </div>
          </div>
  	  	</form>
    	</div>
  	</div>
    <div class="modal-footer custom-modal-footer" style="padding:0px;">
        <button type="button" style="height:40px;" class="custom-btn btn-block custom-btn-primary" ng-click="ok()">Actualizar</button>
    </div>
</div>
