<div ng-init="load()">
  <div class="content" ng-show="!records || records.length == 0">
    <div class="table_wrap table_height">
      <div class="row table-responsive table_inner">
          <div class="controls" ng-show="records.length == 0 && Records">
            <h4 >No hay registros para mostrar</h4>
          </div>
          <p class="text-center" ng-show="!Records">
           <img style="width:50px;" src="images/loading.svg">
          </p>
      </div>
    </div>  
  </div>
<div class="col-lg-12 content" ng-show="records.length > 0">
        <button type="button" ng-json-export-excel data="dataList" report-fields="{'uesr.username': 'Heder 1', keyjson2: 'Header 2', keyjson3: 'Head 3'}" filename =" 'export-excel' " separator=","  style="margin-bottom:5px;" class="btn custom-btn-primary" ng-click="exportAll()"><i class="fa fa-file-excel-o"></i>&nbsp;Exportar</button>
        <div class="hpanel">
            <div class="panel-body">
            <div class="row">
            <div class="col-lg-2">
                <label>Fecha Inicial:</label>
                <p class="input-group">
                  <input ng-change="setFormat()" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
            <div class="col-lg-2">
                <label>Fecha Final:</label>
                <p class="input-group">
                  <input ng-change="setFormatEnd()" type="text" class="form-control" uib-datepicker-popup="{{formatEnd}}" ng-model="dtEnd" is-open="popupEnd.opened" datepicker-options="dateOptionsEnd" ng-required="true" close-text="Cerrar" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                  <label for="name" >Vendedor:</label>
                  <vendedor-field empty-option="true" placeholder="Vendedor"  ng-model="filter._seller" key="_id" label="name"><vendedor-field>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                  <label for="name" >Cliente:</label>
                  <cliente-field empty-option="true" placeholder="Vendedor"  ng-model="filter._client" key="_id" label="full_name"><cliente-field>
                </div>
            </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label>Buscar</label>
                    <input type="text" ng-model="search" class="form-control input-sm m-b-md" id="filter" placeholder="Buscar en la tabla">
                </div>
              </div>
            </div>
                <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Tipo</th>
                  <th>Vendedor</th>
                  <th>Cliente.</th>
                  <th>Ciudad.</th>
                  <th>Barrio</th>
                  <th>Dir.</th>
                  <th>Total</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                  <th></th>
                  <th style="width: 36px;"></th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-show="!records || records.length == 0"><td class="text-center" colspan="9"><p class="text-center"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;No existen registros.</p></td></tr>
                <tr 
                  pagination-id="OrdenesEntity"
                  dir-paginate="record in records
                  | dateRange:filter._ini:filter._end 
                  | filter:search 
                  | filter:{_client : { _id : filter._client}} 
                  | filter:{_seller : { _id : filter._seller}} 
                  | filter:{data : { tipo : filter._type}} 
                  | orderBy:'-createdAt' 
                  | itemsPerPage: 5 ">
                  <td>{{record.id}}</td>
                  <td>
                    <span ng-show="record.data.tipo == 'Orden de Pedido' " class="label label-info">{{record.data.tipo}}</span>

                    <span ng-show="record.data.tipo == 'Remisión'" class="label label-primary">{{record.data.tipo}}</span>
                  </td>
                  <td>{{record._seller.full_name.toLowerCase()}}</td>
                  <td>{{record._client.full_name.toLowerCase() || record._client.data.razon_social.toLowerCase()}}</td>
                  <td>{{record.metadata.ciudad.toLowerCase()}}</td>
                  <td>{{record.metadata.barrio.toLowerCase()}}</td>
                  <td>{{record.metadata.direccion.toLowerCase()}}</td>
                  <td>{{record.data.total | currency:"$ "}}</td>
                  <td>{{record.createdAt | date:"yyyy-MM-dd"}}</td>
                  <td>{{record.data.estado || 'Pendiente'}}</td>
                  <td></td>
                  <td><button ng-click="detail()" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Detalle</button></td>
                  <td><button ng-click="location()" type="button" class="btn custom-btn-primary btn-xs"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;Ubicación</button></td>
                  <td><button ng-click="delete()" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i>&nbsp;Borrar</button></td>
                </tr>
              </tbody>
            </table>
                </div>
                <div class="col-lg-12">
                  <dir-pagination-controls class="pull-right" pagination-id="OrdenesEntity"></dir-pagination-controls>
                </div>
            </div>
            <div class="panel-footer">
                Listado de Ordenes
            </div>
        </div>
    </div>
	<div class="row" ng-show="records.length > 0">
</div>
