<div ng-controller="ArqueoCtrl" ng-init="load()">
	<div class="row">
		<h3>Editar Arqueo</h3>
		<div class="panel panel-default" style="padding:0px;">
		  <div class="panel-body">
		  <div class="row">
				<div class="col-lg-3">
					<label>Vendedor *:</label>
					<vendedor-field ng-model="vendedor" key="_id" label="name"><vendedor-field>
				</div>
				<div class="col-lg-3">
					<label>Fecha Inicial *:</label>
				    <ng-datepicker ng-model="ini" placeholder="Fecha inicial"locale="ES" format="YYYY-MM-DD" view-format="YYYY-MM-DD">
				</div>
				<div class="col-lg-3">
					<label>Fecha Final *:</label>
				    <ng-datepicker ng-model="end" placeholder="Fecha final"locale="ES" format="YYYY-MM-DD" view-format="YYYY-MM-DD">
				</div>
				<div class="col-lg-3">
					<label>Buscar:</label>
					<div class="input-group">
					      <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
					      <span class="input-group-btn">
					        <button class="btn custom-btn-primary" type="button" ng-click="get()">Buscar</button>
					      </span>
			    	</div>
				</div>			
		  </div>
		  <div class="table-responsive">
			 <table class="table table-hover">
				<thead>
					<th>Fecha</th>
					<th>Vendedor.</th>
					<th>Cliente</th>
					<th>Estado</th>
					<th>Total</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>
						<td ng-show="form._request.length <= 0 || !form._request" class="text-center" colspan="10"><p><i class="glyphicon glyphicon-info-sign"></i>  &nbsp;no hay registros para mostrar.</p></td>
					
						<td ng-show="loading" class="text-center" colspan="10"><img style="height:20px;" src="images/loading.gif"></td>
					</tr>
					<tr dir-paginate="record in form._request |filter:search |itemsPerPage: 5 ">
						<td>{{record.createdAt | date:'yyyy-MM-dd'}}</td>
						<td>{{(record._seller.name +" "+ record._seller.last_name)}}</td>
						<td>{{(record._client.name +" "+ record._client.last_name)}}</td>
						<td>
							<span class="label label-darkblue" ng-show="record.metadata.estado == 'Facturado'">{{record.metadata.estado}}</span>

							<span class="label label-default" ng-show="record.metadata.estado == 'Pendiente'">{{record.metadata.estado}}</span>

							<span class="label label-success" ng-show="record.metadata.estado == 'Despachado'">{{record.metadata.estado}}</span>
						</td>
						<td>{{record.metadata.total | currency:"$ "}}</td>
						<td class="text-right"><a ui-sref="dashboard.detalle_pedido({pedido: record._id})" class="custom-btn-tiny custom-btn-primary" href="#/detalle-pedido/{{record._id}}">Detalle</a></td>
						<td class="text-right"><a ng-click="borrar()" class="custom-btn-tiny btn-danger"><i class="glyphicon glyphicon-trash">&nbsp;Borrar</i></a></td>
					</tr>
				</tbody>
			</table>	
	  	  	</div>
			<div class="row">
				<div class="col-lg-12">
					<dir-pagination-controls class="pull-right"></dir-pagination-controls>
				</div>
			</div>
			<div class="row">
					<div class="col-lg-3">
						<label>Total Sistema:</label>
						<input readonly  type="number" ng-model="form.metadata.total_sistema" class="form-control" placeholder="Total Sistema">
					</div>	
					<div class="col-lg-3">
						<label>Total Efectivo:</label>
						<input type="number" ng-model="form.metadata.total_efectivo" class="form-control" placeholder="Total Efectivo">
					</div>
					<div class="col-lg-3">
						<label>Faltante:</label>
						<input readonly type="number" ng-model="form.metadata.faltante" class="form-control" placeholder="Faltante">
					</div>
					<div class="col-lg-3">
						<label>Sobrante:</label>
						<input readonly type="text" ng-model="form.metadata.sobrante" class="form-control" placeholder="Sobrante">
					</div>
					<div class="col-lg-12">
						<div class="form-group"></div>
						<div class="form-group">
							<!-- Split button -->
							<div class="btn-group">
							  <button type="button" class="btn custom-btn-primary" ng-click="guardar()">Actualizar</button>
							  <button type="button" class="btn custom-btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a  ng-click="" ><i class="glyphicon glyphicon-envelope"></i> &nbsp;Email</a></li>
							    <li><a ng-click="download()"><i class="glyphicon glyphicon-download"></i> &nbsp;Descargar</a></li>
							  </ul>
							</div>
						</div>
					</div>
			</div>
		  </div>
		  <div class="panel-footer">Listado de Pedidos</div>
		</div>

	</div>
</div>
